/* Typography
--------------------------------------------- */
@import "typography/typography";

/* Elements
--------------------------------------------- */
@import "elements/body";
@import "elements/hr";
@import "elements/lists";
@import "elements/media";
@import "elements/tables";

/* Links
--------------------------------------------- */
@import "elements/links";

/* Forms
--------------------------------------------- */
@import "elements/buttons";
@import "elements/fields";

* {
    margin: 0;
    padding: 0;
}

/* HOME PAGE */

.premiere_description{
    width: 75%;
    height: 450px;
    display: flex;
    margin-left: 15%;
    margin-top: 2%;
    justify-content: space-evenly;
    margin-top: 50px;
    
}

/* Photo des membres faisant superman */

.membre_superman{
    width: 490px;
    height: 90%;
    margin-top: 25px;
}

/* texte a droite de la photo des membres */

.homepage_box1{
height: 25px;
margin-top: 25px;
}

.homepage_box2{
    height: 70px;
}

.text_homepage{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.text_homepage_2{
    margin-left: 25px;
    margin-top: 25px;
    
}

.text_homepage_3{
    margin-left: 25px;
    margin-top: 15px;
    width: 60%;
    line-height: 22px;
}

.titre_homepage{
    font-family: komet,sans-serif;
    margin-left: 25px;
}

.notre_histoire{
    width: 40%;
    height: 40px;
    border: double 2px #FF6600;
    margin-left: 25px;

}

.bouton_homepage{
    font-weight: bold;
    color: #FF6600;
    padding-top: 3px;
    padding-left: 13px;
}

.timer_homepage{
    width: 100%;
    height: 350px;
    background-color: #122641;
    margin-top: 50px;
    margin-bottom: 50px;
}